@import "config";

.time-lines,
.times {
  list-style: none;
  padding-left: 0;

  li {
    height: 2em;
    border-bottom: 1px solid $light-grey;
  }

}

.relative {
  position: relative;
}

.blocks {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block {
  width: 100%;

  &-1 {
    height: 300px;
    margin-bottom: 100px;
  }

  &-2 {
    height: 150px;
  }

  &-3 {
    height: 200px;
    margin-bottom: 50px;
  }

  &-4 {
    height: 300px;
  }

}