<div class="row">
    <div class="col-xs-offset-3 col-xs-9">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" ng-repeat="item in rooms"><a href="#">{{ item }}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="times">
            <li ng-repeat="item in times">
                {{ item }}
            </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <ul class="time-lines">
            <li ng-repeat="item in times">

            </li>
        </ul>
        <div class="row">
            <div class="col-xs-6">
                <div class="blocks">
                    <div class="block block-1"></div>
                    <div class="block block-2"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="blocks">
                    <div class="block block-3"></div>
                    <div class="block block-4"></div>
                </div>

            </div>
        </div>
    </div>
</div>