<div class="row">
    <div class="col-xs-offset-3 col-xs-9">
        <ul>
            <li ng-repeat="item in rooms">
                {{ item }}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="times">
            <li ng-repeat="item in times">
                {{ item }}
            </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <ul class="time-lines">
            <li ng-repeat="item in times"></li>
        </ul>
    </div>
</div>