<div class="row">
    <div class="col-xs-offset-3 col-xs-9">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" ng-repeat="item in rooms"><a href="#">{{ item }}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="times">
            <li ng-repeat="item in times">
                {{ item }}
            </li>
        </ul>
    </div>
    <div class="col-xs-9 relative">
        <ul class="time-lines">
            <li ng-repeat="item in times">

            </li>
        </ul>
        <div class="blocks">
            <div class="row">
                <div class="col-xs-6">

                    <div class="block block-1 alert alert-danger">
                        <a class="close" href="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <h4>Important meeting</h4>
                        <p>
                            Tim & Gerry <i class="glyphicon glyphicon-time"></i> 2.30
                        </p>
                    </div>
                    <div class="block block-2 alert alert-info">
                        <a class="close" href="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <h4>Climate change</h4>
                        <p>
                            Scott, Tom and Jack <i class="glyphicon glyphicon-time"></i> 2.00
                        </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="block block-3 alert alert-warning">
                        <a class="close" href="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <h4>Physical Web. Future directions.</h4>
                        <p>
                            Scott, Chrome team <i class="glyphicon glyphicon-time"></i> 1.30
                        </p>
                    </div>
                    <div class="block block-4 alert alert-success">
                        <a class="close" href="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <h4>
                            What else can we do?
                        </h4>
                        <p>
                            Steve & Bob <i class="glyphicon glyphicon-time"></i> 1.30
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>